apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tmp-app-download
spec:
  accessModes:
   - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 10Gi
  storageClassName: gp2