apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
      name: splunk-operator
  strategy: 
    type: Recreate
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
        name: splunk-operator
    spec:
      securityContext:
        runAsUser: 1001
        #runAsNonRoot: true
      containers:
      - command:
        - /manager
        args:
        - --leader-elect
        - --pprof
        image: controller:latest
        imagePullPolicy: Always
        name: manager
        env:
        # enable this if operator scope is need to be set to only one namespace where its installed
        #- name: WATCH_NAMESPACE
        #  valueFrom:
        #    fieldRef:
        #      fieldPath: metadata.namespace
        # this is updated to show that operator scope is set to cluster wide 
        - name: WATCH_NAMESPACE
          value: ""
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: "splunk-operator"
        - name: RELATED_IMAGE_SPLUNK_ENTERPRISE
          value: "docker.io/splunk/splunk:8.2.3.3"
        securityContext:
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 1000Mi
          requests:
            cpu: 200m
            memory: 200Mi
        #volumeMounts:
        #  - mountPath: /opt/splunk/appframework/
        #    name: app-staging
      serviceAccountName: controller-manager
      #volumes:
      #  - name:  app-staging
      #    persistentVolumeClaim:
      #      claimName: tmp-app-download
      terminationGracePeriodSeconds: 10
