# This rule is not used by the project splunk-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to enterprise.splunk.com resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: queue-viewer-role
rules:
- apiGroups:
  - enterprise.splunk.com
  resources:
  - queues    
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - enterprise.splunk.com
  resources:
  - queues/status
  verbs:
  - get
