---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - endpoints
  - events
  - persistentvolumeclaims
  - pods
  - pods/exec
  - secrets
  - serviceaccounts
  - services
  - services/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - enterprise.splunk.com
  resources:
  - clustermanagers
  - clustermasters
  - databaseclasses
  - databases
  - indexerclusters
  - licensemanagers
  - licensemasters
  - monitoringconsoles
  - searchheadclusters
  - standalones
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - enterprise.splunk.com
  resources:
  - clustermanagers/finalizers
  - clustermasters/finalizers
  - databaseclasses/finalizers
  - databases/finalizers
  - indexerclusters/finalizers
  - licensemanagers/finalizers
  - licensemasters/finalizers
  - monitoringconsoles/finalizers
  - searchheadclusters/finalizers
  - standalones/finalizers
  verbs:
  - update
- apiGroups:
  - enterprise.splunk.com
  resources:
  - clustermanagers/status
  - clustermasters/status
  - databaseclasses/status
  - databases/status
  - indexerclusters/status
  - licensemanagers/status
  - licensemasters/status
  - monitoringconsoles/status
  - searchheadclusters/status
  - standalones/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - postgresql.cnpg.io
  resources:
  - clusters
  - databases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - postgresql.cnpg.io
  resources:
  - clusters/status
  - databases/status
  verbs:
  - get
