---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - endpoints
  - events
  - persistentvolumeclaims
  - pods
  - pods/exec
  - secrets
  - serviceaccounts
  - services
  - services/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - enterprise.splunk.com
  resources:
  - buses
  - clustermanagers
  - clustermasters
  - indexerclusters
  - ingestorclusters
  - largemessagestores
  - licensemanagers
  - licensemasters
  - monitoringconsoles
  - searchheadclusters
  - standalones
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - enterprise.splunk.com
  resources:
  - buses/finalizers
  - clustermanagers/finalizers
  - clustermasters/finalizers
  - indexerclusters/finalizers
  - ingestorclusters/finalizers
  - largemessagestores/finalizers
  - licensemanagers/finalizers
  - licensemasters/finalizers
  - monitoringconsoles/finalizers
  - searchheadclusters/finalizers
  - standalones/finalizers
  verbs:
  - update
- apiGroups:
  - enterprise.splunk.com
  resources:
  - buses/status
  - clustermanagers/status
  - clustermasters/status
  - indexerclusters/status
  - ingestorclusters/status
  - largemessagestores/status
  - licensemanagers/status
  - licensemasters/status
  - monitoringconsoles/status
  - searchheadclusters/status
  - standalones/status
  verbs:
  - get
  - patch
  - update
