* @okta-groups/sg-cloud-sok-developer-platform

# PostgreSQL
/pkg/postgresql/ @okta-groups/sg-cloud-pfm-cse
/api/enterprise/*/postgres* @okta-groups/sg-cloud-pfm-cse
/internal/controller/enterprise/postgres* @okta-groups/sg-cloud-pfm-cse
/docs/postgresql/ @okta-groups/sg-cloud-pfm-cse
/config/crd/bases/*postgres* @okta-groups/sg-cloud-pfm-cse
/config/samples/*postgres* @okta-groups/sg-cloud-pfm-cse
/bundle/manifests/*postgres* @okta-groups/sg-cloud-pfm-cse
