---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: kvservices.enterprise.splunk.com
spec:
  group: enterprise.splunk.com
  names:
    kind: KVService
    listKind: KVServiceList
    plural: kvservices
    singular: kvservice
  scope: Namespaced
  versions:
  - name: v4
    schema:
      openAPIV3Schema:
        description: KVService is the Schema for the kvservices API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: KVServiceSpec defines the desired state of KVService
            properties:
              foo:
                description: Foo is an example field of KVService. Edit kvservice_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: KVServiceStatus defines the observed state of KVService
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
