name: Pre Release Workflow
on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Version of Splunk Operator Release'
        required: true
      old_operator_version:
        description: 'OLD OPERATOR VERSION'
        required: true
      new_operator_version:
        description: 'NEW OPERATOR VERSION'
        required: true
      old_operator_image_version:
        description: 'OLD OPERATOR IMAGE VERSION'
        required: true
      new_operator_image_version:
        description: 'NEW OPERATOR IMAGE VERSION'
        required: true
      old_enterprise_version:
        description: 'OLD ENTERPRISE IMAGE VERSION'
        required: true
      new_enterprise_version:
        description: 'NEW ENTERPRISE IMAGE VERSION'
        required: true
jobs:
  automated-release:
    name: Automated Pre Release
    runs-on: ubuntu-latest
    if:
      contains('
        refs/heads/develop
        ', github.ref)
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deep Fetch 
      run: |
        git fetch --prune --unshallow

    - name: Create ChangeLog since last release
      run: |
        git log $(git describe --tags --abbrev=0)..HEAD --oneline >> docs/ChangeLog-NEW.md

    - name: Dotenv Action
      id: dotenv
      uses: falti/dotenv-action@d4d12eaa0e1dd06d5bdc3d7af3bf4c8c93cb5359
    
    - name: setup-docker
      uses: docker-practice/actions-setup-docker@v1

    - name: Configure Docker Credentials
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PUSH_TOKEN}}
    
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ steps.dotenv.outputs.GO_VERSION }}
    
    - name: Install golint
      run: |
        go get -u golang.org/x/lint/golint
    
    - name: Install goveralls
      run: |
        go get github.com/mattn/goveralls@latest

    - name: Update Operator Image name in DOCS
      if: github.event.inputs.old_operator_version != github.event.inputs.new_operator_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "splunk-operator:${{ github.event.inputs.old_operator_version }}"
        replace: "splunk-operator:${{ github.event.inputs.new_operator_version }}"
        exclude: "ChangeLog.md"
        include: "**.md"

    - name: Update Splunk Operator Install URL in DOCS
      if: github.event.inputs.old_operator_version != github.event.inputs.new_operator_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "/download/${{ github.event.inputs.old_operator_version }}/splunk-operator"
        replace: "/download/${{ github.event.inputs.new_operator_version }}/splunk-operator"
        exclude: "ChangeLog.md"
        include: "**.md"

    - name: Update Splunk Operator VERSION in DOCS
      if: github.event.inputs.old_operator_version != github.event.inputs.new_operator_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "${{ github.event.inputs.old_operator_version }} or later"
        replace: "${{ github.event.inputs.new_operator_version }} or later"
        exclude: "ChangeLog.md"
        include: "**.md"

    - name: Update Splunk Operator upgrade string in DOCS
      if: github.event.inputs.old_operator_version != github.event.inputs.new_operator_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "Steps to upgrade from version greater than 1.0.5 to ${{ github.event.inputs.old_operator_version }}"
        replace: "Steps to upgrade from version greater than 1.0.5 to ${{ github.event.inputs.new_operator_version }}"
        exclude: "ChangeLog.md"
        include: "**.md"

    - name: Update Splunk Operator Release URL in DOCS
      if: github.event.inputs.old_operator_version != github.event.inputs.new_operator_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "https://github.com/splunk/splunk-operator/releases/download/${{ github.event.inputs.old_operator_version }}/splunk-operator-install.yaml"
        replace: "https://github.com/splunk/splunk-operator/releases/download/${{ github.event.inputs.new_operator_version }}/splunk-operator-install.yaml"
        exclude: "ChangeLog.md"
        include: "**.md"

    - name: Update Splunk Enterprise Image in operator.yaml
      if: github.event.inputs.old_enterprise_version != github.event.inputs.new_enterprise_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "${{ github.event.inputs.old_enterprise_version }}"
        replace: "${{ github.event.inputs.new_enterprise_version }}"
        include: "**operator.yaml"

    - name: Update Splunk Enterprise image in DOCS
      if: github.event.inputs.old_enterprise_version != github.event.inputs.new_enterprise_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "${{ github.event.inputs.old_enterprise_version }} or later"
        replace: "${{ github.event.inputs.new_enterprise_version }} or later"
        exclude: "ChangeLog.md"
        include: "**.md"

    - name: Run Bundle Creation for the release
      run: |
        make bundle IMAGE_TAG_BASE=docker.io/splunk/splunk-operator VERSION=${{ github.event.inputs.release_version }} IMG=splunk/splunk-operator:${{ github.event.inputs.release_version }} SPLUNK_ENTERPRISE_IMAGE=splunk/splunk:${{ github.event.inputs.new_enterprise_version }}

    - name: Reset go.mod and go.sum before creating Pull Request
      run: |
        git checkout go.sum
        git checkout go.mod
        git status

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3.10.1
      with:
        branch: "release/${{ github.event.inputs.release_version }}"
        title: "Splunk Operator ${{ github.event.inputs.release_version }} release"
        reviewers: "${{ steps.dotenv.outputs.REVIEWERS }}"
        body: |
          ### Automated Pull Request for Splunk Operator Release ${{ github.event.inputs.release_version }}
          * Changes added to docs/ChangeLog-NEW.md. Please filter and update ChangeLog.md
          * Delete ChangeLog-New.md