name: Pre Release Workflow
on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Version of Splunk Operator Release'
        required: true
      old_operator_version:
        description: 'OLD OPERATOR VERSION'
        required: true
      new_operator_version:
        description: 'NEW OPERATOR VERSION'
        required: true
      old_operator_image_version:
        description: 'OLD OPERATOR IMAGE VERSION'
        required: true
      new_operator_image_version:
        description: 'NEW OPERATOR IMAGE VERSION'
        required: true
      old_enterprise_version:
        description: 'OLD ENTERPRISE IMAGE VERSION'
        required: true
      new_enterprise_version:
        description: 'NEW ENTERPRISE IMAGE VERSION'
        required: true
jobs:
  automated-release:
    name: Automated Pre Release
    runs-on: ubuntu-latest
    if:
      contains('
        refs/heads/develop
        refs/heads/sdk-release-changes
        ', github.ref)
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deep Fetch 
      run: |
        git fetch --prune --unshallow

    - name: Create ChangeLog since last release
      run: |
        git log $(git describe --tags --abbrev=0)..HEAD --oneline >> docs/ChangeLog-NEW.md
    
    - name: Set Release Identifier
      run: |
        echo "SHORT_SHA=${GITHUB_SHA::12}" >> $GITHUB_ENV
        echo $SHORT_SHA
    - name: Dotenv Action
      id: dotenv
      uses: falti/dotenv-action@d4d12eaa0e1dd06d5bdc3d7af3bf4c8c93cb5359

    - name: Install yq
      run: |
        wget https://github.com/mikefarah/yq/releases/download/3.2.1/yq_linux_amd64 -O /usr/bin/yq
        chmod +x /usr/bin/yq
    
    - name: setup-docker
      uses: docker-practice/actions-setup-docker@v1

    - name: Configure Docker Credentials
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PUSH_TOKEN}}
    
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ steps.dotenv.outputs.GO_VERSION }}
    
    - name: Install golint
      run: |
        go version
        go get -u golang.org/x/lint/golint
    
    - name: Install goveralls
      run: |
        go version
        go get github.com/mattn/goveralls@latest

    - name: Install Operator SDK
      run: |
        export ARCH=$(case $(uname -m) in x86_64) echo -n amd64 ;; aarch64) echo -n arm64 ;; *) echo -n $(uname -m) ;; esac)
        export OS=$(uname | awk '{print tolower($0)}')
        export OPERATOR_SDK_DL_URL=https://github.com/operator-framework/operator-sdk/releases/download/${{ steps.dotenv.outputs.OPERATOR_SDK_VERSION }}
        sudo curl -LO ${OPERATOR_SDK_DL_URL}/operator-sdk_${OS}_${ARCH}
        sudo chmod +x operator-sdk_${OS}_${ARCH} 
        sudo mv operator-sdk_${OS}_${ARCH} /usr/local/bin/operator-sdk

    - name: Update Operator Image name in DOCS
      if: github.event.inputs.old_operator_version != github.event.inputs.new_operator_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "splunk-operator:${{ github.event.inputs.old_operator_version }}"
        replace: "splunk-operator:${{ github.event.inputs.new_operator_version }}"
        exclude: "ChangeLog.md"
        include: "**.md"

    - name: Update Splunk Operator Install URL in DOCS
      if: github.event.inputs.old_operator_version != github.event.inputs.new_operator_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "/download/${{ github.event.inputs.old_operator_version }}/splunk-operator"
        replace: "/download/${{ github.event.inputs.new_operator_version }}/splunk-operator"
        exclude: "ChangeLog.md"
        include: "**.md"

    - name: Update Splunk Operator VERSION in DOCS
      if: github.event.inputs.old_operator_version != github.event.inputs.new_operator_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "${{ github.event.inputs.old_operator_version }} or later"
        replace: "${{ github.event.inputs.new_operator_version }} or later"
        exclude: "ChangeLog.md"
        include: "**.md"

    - name: Update Splunk Enterprise Image in operator.yaml
      if: github.event.inputs.old_enterprise_version != github.event.inputs.new_enterprise_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "${{ github.event.inputs.old_enterprise_version }}"
        replace: "${{ github.event.inputs.new_enterprise_version }}"
        include: "**operator.yaml"

    - name: Update Splunk Enterprise image in DOCS
      if: github.event.inputs.old_enterprise_version != github.event.inputs.new_enterprise_version
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "${{ github.event.inputs.old_enterprise_version }} or later"
        replace: "${{ github.event.inputs.new_enterprise_version }} or later"
        exclude: "ChangeLog.md"
        include: "**.md"

    - name: Run Make Package
      run: |
        make docker-build IMG=splunk/splunk-operator-rc:${{ github.event.inputs.release_version }}-RC
        make generate-artifacts  IMG=splunk/splunk-operator-rc:${{ github.event.inputs.release_version }}-RC VERSION=${{ github.event.inputs.release_version }}
  
    - name: Tag and Push release RC Image
      run: |
        make docker-build docker-push IMG=splunk/splunk-operator-rc:${{ github.event.inputs.release_version }}-RC 

    - name: Update Operator Image name in Release Folder
      uses: jacobtomlinson/gha-find-replace@f485fdc3f67a6d87ae6e3d11e41f648c26d7aee3
      with:
        find: "splunk/splunk-operator:${{ env.SHORT_SHA }}"
        replace: "splunk/splunk-operator-rc:${{ github.event.inputs.release_version }}"
        include: "release-${{ env.SHORT_SHA }}/**"

    - name: Upload Release Artifacts
      uses: actions/upload-artifact@82c141cc518b40d92cc801eee768e7aafc9c2fa2
      with:
        name: "release-artifacts-${{ github.event.inputs.release_version }}"
        path: "release-**"

    - name: Reset go.mod and go.sum before creating Pull Request
      run: |
        git checkout go.sum
        git checkout go.mod
        git status

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3.10.1
      with:
        branch: "release/${{ github.event.inputs.release_version }}"
        title: "Splunk Operator ${{ github.event.inputs.release_version }} release"
        reviewers: "${{ steps.dotenv.outputs.REVIEWERS }}"
        body: |
          Automated Pull Request for Splunk Operator Release ${{ github.event.inputs.release_version }}
          Changes added to docs/ChangeLog-NEW.md. Please filter and update ChangeLog.md
