name: Build and Push Latest on Master
on:
  pull_request:
    types: [ closed ]
    branches:
      - master 
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    needs: check-formating
    if: github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.13.6'
      - name: Install golint
        run: |
          go version
          go get -u golang.org/x/lint/golint
      - name: Install goveralls
        run: |
          go version
          go get github.com/mattn/goveralls@latest
      - name: Run Unit Tests
        run: make test
  build-push-latest:
    needs: unit-tests
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    env:
      SPLUNK_OPERATOR_IMAGE_NAME: splunk/splunk-operator
      TAG: latest
    steps:
    - uses: actions/checkout@v2
    - name: setup-docker
      uses: docker-practice/actions-setup-docker@v1
    - name: Install Operator SDK
      run: |
        sudo curl -L -o /usr/local/bin/operator-sdk https://github.com/operator-framework/operator-sdk/releases/download/${{ secrets.OPERATOR_SDK_VERSION }}/operator-sdk-${{ secrets.OPERATOR_SDK_VERSION }}-x86_64-linux-gnu
        sudo chmod +x /usr/local/bin/operator-sdk
    - name: Make Splunk Operator Image
      run: |
        docker pull registry.access.redhat.com/ubi8/ubi-minimal:latest
        operator-sdk build --verbose ${{ env.SPLUNK_OPERATOR_IMAGE_NAME }}:${{ env.TAG }}
    - name: Configure Docker Hub credentials
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PUSH_TOKEN}}
    - name: Push Splunk Operator Image to Docker Hub 
      run: docker push ${{ env.SPLUNK_OPERATOR_IMAGE_NAME }}:${{ env.TAG }}